@font-face {
	font-family: "DK";
    src: url("Assets/Site/dk.otf");
}

@font-face {
	font-family: "Strawberry";
	src: url("Assets/Site/strawberry.otf");
}

@font-face {
	font-family: "Bahnschrift";
	src: url("Assets/Site/bahn.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("Assets/Site/roboto.ttf");
}


* {
    margin: 0;
}

span, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    background-color: rgb(8, 0, 33);
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#Main {
    font-family: "DK";
    color: white;
    width: 100%;
    height: 100%;

    opacity: 0;

    position: absolute;
    transition-duration: 0.5s;
}

#Topbar {
    width: 100%;
    height: 70px;

    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(15,15,15,1) 90%);
}

#HelloText {
    position: absolute;
    left: 50px;
    top: 20px;

    font-size: 30px;
}

.ArrowLink {
    font-size: 20px;
    color: rgba(0, 0, 0);

    opacity: 0.6;

    position: absolute;
    top: 20px;
    left: 30px;

    cursor: pointer;

    transition-duration: 0.15s;
}

.ArrowLink:hover {
    opacity: 1;
    left: 45px;
}

#ChangeQuoteLabel {
    top: 50px;
}

#SocialsFrame {
    width: 140px;
    height: 30px;
    
    position: absolute;
    top: 23px;
    right: 50px;
}

.SocialsButton {
    width: 30px;
    height: 100%;

    position: absolute;
    cursor: pointer;

    opacity: 0.6;
    transition-duration: 0.15s;
}

.SocialsButton:hover {
    opacity: 1;
}

#TwitterButton {
    left: 0;
}

#YouTubeButton {
    left: 55px;
}

#SteamButton {
    left: 110px;
}

.BannerText {
    font-size: 20px;

    position: absolute;
}

#CreditText {
    opacity: 0.35;

    top: 20px;
    right: 30px;
}

#ArtworkText {
    opacity: 0.25;

    left: 20px;
    bottom: 20px;
}

#DiscordSmallFrame {
    width: 430px;
    height: 50px;
    background: linear-gradient(90deg, rgba(232,0,73,1) 0%, rgba(145,0,46,1) 54%);
    
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;

    transition-duration: 0.15s;
    display: initial; /* none */
}

#DiscordSmallIcon {
    width: 40px;
    height: 40px;

    position: absolute;
    left: 10px;
    top: 5px;
}

#DiscordSmallTitle {
    font-size: 25px;
    
    position: absolute;
    left: 70px;
    top: 10px;
}

#DiscordSmallArrow {
    width: 20px;
    height: 10px;

    position: absolute;
    top: 20px;
    right: 15px;

    opacity: 0.6;

    cursor: pointer;
    transition-duration: 0.15s;
}

#DiscordSmallArrow:hover {
    opacity: 1;
}

#DiscordSmallState {
    font-size: 25px;
    
    position: absolute;
    left: 15px;
    top: 58px;
    
    opacity: 0;
    transition-duration: 0.15s;
}

.DiscordSmallLink {
    font-size: 17px;

    position: absolute;
    top: 62px;
    
    opacity: 0;
    transition-duration: 0.15s;
    cursor: pointer;
}

#DiscordSmallILink {
    right: 15px;
}

#DiscordSmallCLink {
    left: 15px;
    cursor: default;
}

#DiscordSmallIText {
    font-size: 17px;
    font-family: "Roboto";

    position: absolute;
    top: 95px;
    left: 15px;
    
    opacity: 0;
    transition-duration: 0.15s;
}

#BannerFrame {
    width: 100%;
    height: 380px;

    position: absolute;
    top: 70px;

    background: linear-gradient(90deg, rgba(208,248,255,1) 0%, rgba(200,246,255,1) 80%);
    overflow: hidden;

    transition-duration: 0.15s;
    color: rgb(8, 0, 33);
}

#BannerMainFrame {
    width: 1100px;
    height: 100%;

    left: 0;
    right: 0;
    margin: auto;

    transition-duration: 0.15s;
    position: absolute;
}

#BannerImage {
    width: 1016px;
    height: 1543px;
    
    position: absolute;
    top: -70px;
    right: -300px;
    clip: rect(70px, 1444px, 470px, 0px);
}

#QuoteText {
    font-size: 28px;

    position: absolute;
    top: 155px;
    right: 340px;

    opacity: 0.75;
    cursor: pointer;
    transition-duration: 0.15s;
}

#QuoteText:hover {
    opacity: 1;
}

#QuoteAuthor {
    font-size: 20px;

    position: absolute;
    top: 130px;
    right: 340px;

    opacity: 0.3;
}

#QuoteLine {
    width: 40px;
    height: 24px;

    position: absolute;
    top: 190px;
    right: 340px;
}

#MinokahIcon {
    width: 220px;
    height: 220px;
}

#MinokahText {
    font-family: "Strawberry";
    font-size: 140px;

    position: absolute;
    left: 50px;
    top: 60px;
}

#MinokahSubText {
    font-family: "DK";
    font-size: 32px;

    position: absolute;
    left: 50px;
    top: 250px;
}

#NavigationFrame {
    width: 720px;
    height: 55px;

    position: relative;
    top: 395px;

    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.NavButton {
    width: 180px;
    transition-duration: 0.15s;
    cursor: pointer;
}

.ButtonLink {
    font-size: 35px;

    position: absolute;
    top: 7px;

    text-align: center;
}

#ProjectsButton {
    height: 0px;
    position: absolute;
    background: linear-gradient(0deg, rgba(54,194,255,1) 0%, rgb(43, 145, 189) 100%);
}

#ProjectsLink {
    left: 43px;
}

#VideosButton {
    height: 0px;
    position: absolute;
    
    right: 320px;
    
    background: linear-gradient(0, rgba(232,0,73,1) 0%, rgba(165,0,46,1) 100%);
}

#VideosLink {
    left: 53px;
}

#GalleryButton {
    height: 0px;
    position: absolute;
    right: 50px;
    
    background: linear-gradient(0deg, rgba(255,133,58,1) 0%, rgb(206, 111, 48) 100%);
}

#GalleryLink {
    left: 47px;
}

#ListFrame {
    width: 100%;
    height: 0px;

    position: relative;
    top: 395px;

    transition-duration: 0.2s;
    
    opacity: 0;
}

#ListEmptyText {
    font-size: 30px;
    text-align: center;

    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;

    opacity: 0;
    transition-duration: 0.15s;
}

#ListCategoryHeader {
    font-size: 60px;

    position: absolute;
    left: 50px;
    top: 20px;
}

#ListCategorySubtitle {
    font-size: 25px;

    position: relative;
    left: 20px;
    top: -10px;

    opacity: 0.75;
}

.ListContainer {
    width: calc(100% - 50px);
    height: 100%;

    position: absolute;

    opacity: 0;
    transition-duration: 0.25s;
    display: flex;
    flex-wrap: wrap;
    
    padding: 50px;
    padding-top: 105px;
    padding-right: 0;

    pointer-events: none;
}

.ListDivider {
    width: 2px;
    height: 150px;

    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 0;
    top: 35px;
}

.ListEntry {
    width: 252px;
    height: 234px;

    position: relative;

    transition-duration: 0.15s;
    background-color: transparent;
    margin-right: 28px;
    margin-bottom: 30px;
}

.ListEntry:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.ListEntryImage {
    width: 100%;
    height: 155px;

    position: absolute;
}

.ListEntryLabel {
    font-size: 28px;

    position: absolute;
    top: 165px;
    left: 15px;
}

.ListEntryDate {
    font-size: 20px;

    opacity: 0.3;

    position: absolute;
    top: 200px;
    left: 15px;

    text-indent: 0;
}

#VectorBackground {
    width: 100%;
    height: 100%;
    background: url("Assets/Site/pattern.png") repeat-y;
    background-repeat: repeat;

    position: absolute;
    top: 0;

    pointer-events: none;
}

@media only screen and (max-width: 1150px) {
    #Main {
        width: 1150px;
    }
}