/* this is terrible, sorry */

@font-face {
	font-family: "DK";
	src: url("tf2build.ttf");
}

.youtubebtn {
	position: fixed;
	top: calc(45% + 135px);
	left: 0px;
	transform: translate(0%, -50%);
	cursor: pointer;
	max-width: 360px;
	width: 100%;
	height: auto;
}

.steambtn {
	position: fixed;
	top: calc(45% + 215px);
	left: 0px;
	transform: translate(0%, -50%);
	cursor: pointer;
	max-width: 360px;
	height: auto;
}

.twitterbtn {
	position: fixed;
	top: calc(45% + 295px);
	left: 0px;
	transform: translate(0%, -50%);
	cursor: pointer;
	max-width: 360px;
	height: auto;
}

.youtube {
	float: left;
	background-color: red;
	width: 33%;
	height: 80px;
}

.steam {
	float: left;
	background-color: rgb(35, 31, 32);
	width: 33%;
	height: 80px;
	left: 33%;
}

.twitter {
	float: left;
	background-color: rgb(0, 172, 237);
	width: 33%;
	height: 80px;
	left: 66%;
}

body {
	overflow: hidden;
	margin: 0;
}

img.background {
	color: rgb(255, 255, 255);
	opacity: 0.7;
	width: 3840px;
	height: 1080px;
	position: absolute;
	max-width: 3840px;
}

img.voidbar1 {
	width: 1920px;
	height: 190px;
	top: 215px;
	position: fixed;
}

img.voidbar2 {
	width: 1920px;
	height: 190px;
	top: 215px;
	left: 1920px;
	position: fixed;
}

img.breadmotes {
	position: fixed;
	width: 900px;
	height: 600px;
	clip: rect(0px, 900px, 300px, 0px);
	left: 940px;
	top: 165px;
}

p.dk {
	font-family: "DK";
}

a.oldsite:hover {
	color: white;
}

a.oldsite:link {
	color: rgb(100, 100, 100);
}

a.oldsite:visited {
	color: rgb(100, 100, 100);
}